{
	"server": {
		"host": "example.tld",
		"name": "SyoDoN",
		"desc": "A minimalistic ActivityPub implementation",
		"bind": "0.0.0.0",
		"port": 3000,
		"db_path": "database.db"
	},
	"user": {
		"acct": "syobon",
		"name": "SyoBoN",
		"privkey_seed": ""
	}
}
